/* Light theme */
html[data-theme="light"] {
  --text-color: #000000;
  --layout-background: #efefef;
  --hero-section-background: #262626;
  --hero-section-text-color: #efefef;
}

/* Dark theme */
html[data-theme="dark"] {
  --text-color: #efefef;
  --layout-background: #262626;
  --hero-section-background: #efefef;
  --hero-section-text-color: #262626;
}

/* Layout background */
body {
  background-color: var(--layout-background);
}

.flex-content {
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-section {
  margin-bottom: 2em;
}

.footer {
  margin-top: 2em;
}

@media (min-width: 840px) {
  .flex-content {
    width: 81.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
