section .popular-article-card {
  margin: 0.625em 0;
  border: 0.75px solid #71717a;
  position: relative;
  height: 18.885em;
}

.popular-article-image-container img {
  width: 100%;
  height: 173.4px;
  object-fit: cover;
}

.popular-article-info-container {
  padding: 1em;
}

.popular-article-title-container {
  display: flex;
  flex-direction: column;
  gap: 0.374em;
}

.popular-article-additional-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-more-img {
  transition: 1s;
}
.read-more-img:hover {
  transition: 1s;
}

.read-more-link img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

/* Typography */
.popular-article-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-color);
  transition: 1s;
}

.popular-article-title-hovered {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-color);
  transition: 1s;
}

.popular-article-title-container p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--text-color);
}

.popular-article-additional-container {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #71717a;
}

/* Web version */

@media (min-width: 840px) {
  section .popular-article-card {
    height: 20em;
  }
  .popular-article-image-container img {
    height: 180px;
  }

  .popular-article-title-container p {
    font-size: 1rem;
  }

  .popular-article-additional-container {
    font-size: 0.875rem;
  }
}
