.fixed-navbar {
  background-color: var(--back-color);
  height: 7em;
  padding: 2.188em 0.313em 0.625em 0.313em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

@media (min-width: 840px) {
  .fixed-navbar {
    height: 5.125em;
    padding: 0em 7.313em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: none;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}

/* Light theme */
html[data-theme="light"] {
  --back-color: #efefef;
}

/* Dark theme */
html[data-theme="dark"] {
  --back-color: #262626;
}
