.title-section-container {
  display: flex;
  align-items: center;
}

.title-section-container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
}

.title-line {
  height: 0.125em;
  background-color: var(--text-color);
}

@media (min-width: 840px) {
  .title-section-container {
    margin: 2em 0;
  }

  .title-section-container h1 {
    font-size: 0.875rem;
  }

  .title-line {
    height: 0.125em;
    background-color: var(--text-color);
  }
}
